body{
    background-color:white;
}

.container{
    background-color:#ededf1;
    height: 480px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
  
}
.box1{
    background-color: #1E88E5;
    width: 30%;
    height: 100px;
    margin-left: 25px;
    float: left;
    margin-top: 25px;
}



.box2{
    background-color: #1E88E5;
    width: 30%;
    height: 100px;
    margin-left: 5px;
    float: left;
    margin-top: 25px;
}


.box3{
    background-color: #1E88E5;
    width: 33%;
    height: 100px;
    margin-left: 5px;
    float: left;
    margin-top: 25px;
    margin-right: 25px;
}
.box4{
    background-color: #1E88E5;
    width: 94%;
    height: 100px;
    margin-left: 25px;
    float: left;
    margin-top: 10px;
    margin-right: 25px;
}
.box5{
     background-color: #1E88E5;
     width: 46%;
     height: 100px;
     margin-left: 25px;
     float: left;
     margin-top: 10px;
     margin-right: 0px;
}
.box6{
    background-color: #1E88E5;
    width: 47%;
    height: 100px;
    margin-left: 8px;
    float: left;
    margin-top: 10px;
    margin-right: 25px;
}
.box7{
    background-color: #1E88E5;
    width: 64%;
    height: 100px;
    margin-left: 25px;
    float: left;
    margin-top: 10px;
    margin-right: 25px;
    margin-bottom: 20px;
}


.box8{
    background-color: #1E88E5;
    width: 15%;
    height: 100px;
    margin-left: -21px;
    float: left;
    margin-top: 10px;
}

.box9{
    background-color: #1E88E5;
    width: 14%;
    height: 100px;
    margin-left: 4px;
    float: left;
    margin-top: 10px;
    /* margin-right: -2px; */
}